<header class="py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-5 text-white mt-5 mb-2">CROPDEAL </h1>
          <p class="lead mb-5 text-white"><b>A B2B DIGITAL MARKETPLACE WHERE FAIR FOOD TRADE IS MADE EASY, FAST AND TRANSPARENT!</b></p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container bg-white" >

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <h4 class="display-5 text-success">CropDeal is a digital B2B market solution that brings together Farmers and Industrial Buyers.</h4>
        <p>We drive agricultural transactions through our digital platform in combination with our service partnership network. Agri Marketplace accommodates online payments between buyer and seller, product quality check options, and end-to-end logistic services.</p>
        <p>CropDeal does not buy or sell crops and is not a broker. Instead, we offer you the ability to effortlessly market your crop via our platform.</p>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>CropDeal</strong>
          <br>Beverly hills,
          <br>Mumbai
          <br>
        </address>
        <address>
          <abbr title="Phone">Phone:</abbr>
          (123) 456-7890
          <br>
          <abbr title="Email">Emai:</abbr>
          <a href="mailto:#">cropDeal@cropDeal.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../../assets/images/image1.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Publish Crop</h4>
            <p class="card-text">Now farmers (Kisan) can sell their products directly to end consumer whithout any middleman. To 
              publish a product you need to create an account and then can publish a crop. Dealers or consumer can view all the published crops and can contact you.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" (click)="onClick()" routerLink="/login">PUblish Crop</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../../assets/images/image2.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Check Quality and Negotiate Price</h4>
            <p class="card-text">Once the crops are published by the farmers the dealers can contact the farmer an can check quality of the crop and can also negotiate the price of the published crop.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" (click)="onClick()" routerLink="/login">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../../assets/images/image3.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Purchase Crop</h4>
            <p class="card-text">All the dealer need to do is login and can view all the published crops, dealer can also subscribe to differents crops and will
               get notified on crop availability ,and than the dealer can purchase any crops according to one's requirement .</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" (click)="onClick()" routerLink="/login">Purchase Crop</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; CropDeal 2020</p>
    </div>
    <!-- /.container -->
  </footer>

