<h4>Menu List</h4>
<ul class="list-group">
    <li  *ngFor="let menu of menu_list" class="list-group-item" >
        <b>Item :</b> {{ menu.item }}   &nbsp; <b> Price : </b> {{ menu.price }} &nbsp;
        <input *ngIf="!isAdmin" type="checkbox" name="selectedItems" class="selectedItems form-check-input ml-3" value={{menu.price}}>
      </li>
</ul>
<br>
<div class="container" *ngIf="!isAdmin && !confirm">
  <button class="btn btn-primary" (click)="getSelectedItems()">Order</button>
</div>
<br>
<div class="container"  *ngIf="confirm">
  <h5>Your Total is Rs.{{sum}}. Do you want to confirm the Order?</h5>
  <button class="btn btn-primary" (click)="orderSuccess()">Yes</button>&nbsp;&nbsp;
  <button class="btn btn-primary" (click)="orderFailed()">No</button>
</div>
<br>
<div *ngIf="isAdmin">
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#add"><button type="button" class="btn btn-primary" (click)="onAddPress()">Add Menu</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#delete"><button type="button" class="btn btn-primary " (click)="onDeletePress()">Delete Menu Item</button></a>
    </li>
</ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="add" class="container tab-pane "><br>
      <h3>ADD</h3>
      <div *ngIf="display_add_menu">
            <app-add-menu [isAdmin]="isAdmin" (menu_added)="addMenu($event)"></app-add-menu>
      </div>
    </div>
    <div id="delete" class="container tab-pane fade"><br>
      <h3>DELETE</h3>
      <div *ngIf="display_delete_menu">
        <app-delete-menu [isAdmin]="isAdmin" (menu_deleted)="deleteMenu($event)"></app-delete-menu>
      </div>
    </div>
  </div>
</div>



