<!DOCTYPE html> 
<html> 
  
<head> 
    <title>Question_5</title> 
</head> 
  
<body> 
    <h1>Form</h1> 
  
    <form action="post_data" method="POST"> 
            Enter your name    : <input type="text" name="str"> <br> 
                                  
            <input type="submit" value="Submit Form">  
    </form> 
    <p><%= data %></p>
</body> 
  
</html> 